<div class="page-header">
  <h1>Self-serve Assistance</h1>
</div>
<div class="container with_margin">
<p><strong>Facebook Questions</strong></p>
<p>How do I upload a photo?</p>
<p>You can upload a photo by:<br>
1) Click Photos<br>
2) Click Upload<br>
3) Choose Photo<br>
4) Click Confirm</p>
<p><BR>
</p>
<p>What is a &ldquo;poke&rdquo;?<br>
A &ldquo;poke&rdquo; is just a simple way to  get another user's attention. There is no significant value of a  poke, but just to hopefully get the other user to poke you back. It  can be thought of as a flirt, or a high five.</p>
<p><BR>
</p>
<p>How do I change my profile picture?<br>
1) Go to your profile<br>
2) Hover your mouse (don't click) over  the current profile picture (if you don't have one, it will be a blue  siloutte of a person).<br>
3) Click Change Profile<br>
4) Choose Photo<br>
5) Click Confirm</p>
<p><BR>
</p>
<p>What is &ldquo;tagging&rdquo;?<br>
Tagging is a way to identify your  friends and family in photos. If the user has his or her settings </p>
<p>How do I add or search for friends?</p>
<p>How do I keep people from searching for  me?</p>
<p><BR>
</p>
<p><strong>Twitter</strong></p>
<p>What is a &ldquo;tweet&rdquo;?</p>
<p>What is the @?</p>
<p>What is the #?</p>
<p><BR>
</p>
<p>YouTube</p>
<p>How do I search for a video of ____?</p>
<p>How do I create my own channel?</p>
<p></p>
</div>
